*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    outline: none;
}
body{
    background-color: #FFFFFF;
    font-family: Anaheim;
}
/*HEADER*/

header{
    overflow: hidden;
    padding: 15px;
}
header a{
    color: black;
    text-decoration: none;
    /*font-family: ;*/
}
.header-row{
    position: relative;
    display:grid;
    grid-template-columns: 25% 50% 25%;
}
.header-column-left{
   text-align: left;
}
.header-column-middle{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.header-column-right{
   text-align: right;
}
.header-column-right a{
    padding: 10px 10px;
}
/*INTRODUCTION CONTENT*/
.introduction-content{
    height:90vh;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.grid-container {
    height: 100%;
    background-color: none;
  	display: grid;
  	grid-template-columns: 5% 90% 5%;
  	background-color: none;
}

.grid-container > div {
  	background-color: none;
}
.item1{
    height: 100%;
	position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container{
    margin: auto;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container i{
    padding-bottom: 5px;
    color: black;
    font-size: 40px;
}
.right-container{
	padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2{
    padding: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.picture-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.item2 .black-opacity-background{
    width: 100%;
    height:100%;
    background-color: black;
    z-index: 4;
    position: absolute;
    opacity: 0.4;
}
.item2 img{
    position: relative;
    z-index: 2;
    opacity: 1;
    width: 100%;
    height: 100%;
}
.item2 .bottom-right-text{
    width: 600px;
    height: 300px;
    opacity: 1;
    bottom: -5%;
    right: 5%;
    z-index: 4;
    color: #FFFFFF;
    position: absolute;
}
.bottom-right-text h1{
    text-align: right;
    font-size: 80px;
}
.bottom-right-text p{
    text-align: justify;
    text-align: right;
    font-size: 15px;
}
.bottom-right-text a{
    z-index: 4;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    text-align: right;
    font-size: 20px;
    bottom: 90px;
    right: 0px;
    background-color: none;
    cursor: pointer;
}
.bottom-right-text a:hover{
    font-weight: bolder;
}

.item3{
    height: 100%;
	position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.row-item p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.row-item{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
/*first content*/

.first-content{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
.color-middle{
    margin-top: 100px;
    height: 1300px;
    padding: 5%;
    background-color: #F1E7E5;
}
.row-1{
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;
    width: 100%;
    position: relative;
    display: flex;
}
.picture-on-left{
    display: flex;
    width: 40%;
    position: relative;
}
.picture-on-left h1{
    font-size: 120px;
    padding-top: 10px;
    position: absolute;
    top: -150px;
    left: -35px;
    color:#FFFFFF;
    writing-mode: vertical-rl;
    z-index: 4;
}
.picture-on-left img{
    object-fit: cover;
    object-position: center;
    top:-200px;
    left:0px;
    position: absolute;
    width: 100%;
    height: 520px;
    z-index: 3;
    box-shadow: 5px 5px 5px grey;
}
.detail-on-right{
    width:70%
}
.detail-on-right .line{
    margin-top: 60px;
    z-index: 2;
    height: 0.5px;
    width: 25%;
    left: 550px;
    top: 100px;
    position: absolute;
    align-items: center;
    background-color: black;
}

.detail-container{
    background-color: #F1E7E5;
    z-index: 4;
    height: max-content;
    font-size: 15px;
    right: 100px;
    position: absolute;
    text-align: justify;
    justify-content: center;
    width: 100%;
    width: 350px;
    height: auto;
    padding: 15px;
}
.detail-container h3{
    opacity:1;
    z-index: 2;
    position: relative;
}
.detail-container p{
    z-index: 3;
    position: relative;;
}
.row-2{
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    width: 100%;
    position: relative;
}

.detail-on-left{
    padding-top: 50px;
    width:70%
}
.detail-on-left .detail-container{
    font-size: 15px;
    left: 100px;
    position: absolute;
    text-align: justify;
    justify-content: space-between;
    width: 100%;
    width: 350px;
    height: auto;
    padding: 15px;
}

.detail-on-left .line{
    margin-top: 60px;
    z-index: 2;
    height: 0.5px;
    width: 25%;
    right: 550px;
    top:130px;
    position: absolute;
    align-items: center;
    background-color: black;
}
.picture-on-right{
    display: flex;
    width: 470px;
    width: 40%;
    position: relative;
}
.picture-on-right h1{
    font-size: 120px;
    padding-top: 10px;
    bottom: 50px;
    right: -35px;
    position: absolute;
    color:#FFFFFF;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 4;
}
.picture-on-right img{
    object-fit: cover;
    object-position: center;
    top:-35%;
    left:0%;
    position: absolute;
    width: 100%;
    height: 520px;
    z-index: 2;
    box-shadow: 5px 5px 5px grey;

}
.row-3{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.row-3 .picture-on-left{
    display: flex;
    width: 470px;
    width: 40%;
    position: relative;
}
.row-3 .picture-on-left h1{
    font-size: 120px;
    padding-top: 10px;
    position: absolute;
    top:-100px;
    left:-35px;
    color:#FFFFFF;
    writing-mode: vertical-rl;
    z-index: 4;
}
.row-3 .picture-on-left img{
    object-fit: cover;
    object-position: center;
    top:-150px;
    position: absolute;
    width: 100%;
    height: 520px;
    z-index: 3;
    box-shadow: 5px 5px 5px grey;
}
.row-3 .detail-on-right .line{
    margin-top: 60px;
    z-index: 2;
    height: 0.5px;
    width: 25%;
    left: 550px;
    align-items: center;
    background-color: black;
}

/*SECOND CONTENT ZONE*/


.second-content{
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
}
.second-content h1{
    font-size: 30px;
    text-align: center;
}
.second-content-color-middle{
    width: 100%;
    height: 650px;
    background-color: #F1E7E5;
    position: relative;
    margin-top: 150px;
    margin-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.second-content-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    width: 90%;
    text-align: center;
    overflow: hidden;
    position: relative;
    top:-20%;
    margin-left: auto;
    margin-right: auto;
  }
  .slides {
    height: 50%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .slides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: none;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    width: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 100%;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slider > a {
    margin-top: 20px;
    display: inline-flex;
    width: 15px;
    height: 15px;
    background: grey;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
  }
  .slider a:active{
    background: #666;
  }
  .slider2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
    top:-20%;
  }
  .slider2 > a {
    margin-top: 20px;
    display: inline-flex;
    width: 15px;
    height: 15px;
    background: grey;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
  }
  .slider2 a:active{
    background: #666;
  }
.row{
    display: flex;
    width: 100%;
}
.column{
    flex:33.33%;
    padding: 20px;
}
.col-picture-container{
    position: relative;
    width: 365px;
    height: 395px;
    background-color: grey;
    box-shadow: 5px 5px 5px grey;
}
.col-picture-container img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    z-index: 3;
  }
img{
    object-fit: cover;
    object-position: center;
}
.footer{
    background-color: #F1E7E5;
    color:black;
    height: 200px;
}
@media screen and (max-width: 1024px) {
   .color-middle{
        height: 1250px;
   }
   .slider > a{
    margin-top: 0px;
   }
   .slider2 >a {
    margin-top: 0px;
   }
   .second-content-color-middle{
    margin-top: 100px;
   }
    .first-content img{
        width:100%;
    }
    .detail-container{
        right:1%;
        top:13%;
    }
    .detail-on-left .detail-container{
        left:1%;
    }
    .picture-on-left{
        width:50%;
    }
    .picture-on-right{
        width:50%;
    }
    .row-3 .picture-on-left{
        width:50%;
    }
    .picture-on-left h1{
        top:-115%;
    }
    .detail-on-right .line{
        left:45%;
        top:25%;
    }
    .row-2 img{
        top:-130
    }
    .row-2 .line{
        left:30%;
        top:20%;
    }
    .row-3 .detail-on-right .line{
        left:45%;
        top:25%;
    }
    .col-picture-container{
        width:240px;
        height:335px;
    }

}
@media screen and (max-width: 768px) {
    .color-middle{
        height: 1190px;
   }
    .line{
        display: none;
    }
    .introduction-content{
        padding-top: 0px;
    }
    .col-picture-container{
        width:165px;
        height:250px;
    }
    .column{
        padding:15px;
    }
    .grid-container{
        grid-template-columns: 8% 84% 8%;
    }
    .item2 .bottom-right-text{
        width:485px;
        height:265px;
        bottom: -10%;
    }
    .second-content-color-middle{
        height: 480px;
    }
    .color-middle img{
        height:400px;
    }
    .row-3 .picture-on-left img{
        height: 400px;
    }
    .bottom-right-text h1{
        font-size: 55px;
    }
    .bottom-right-text p{
        font-size: 14px;
    }
    .picture-on-left h1{
        font-size: 90px;
        left: -25px;
    }
    .picture-on-right h1{
        font-size: 90px;
        bottom: 100px;
        right: -25px;
    }
    .row-3 .picture-on-left h1{
        font-size: 90px;
        left: -25px;
    }
}
@media screen and (max-width: 500px) {
    .header-row{
        grid-template-columns: 35% 30% 35%;
    }
    .header-row a{
        font-size: 15px;
        text-align: justify;
    }
    .header-column-right a{
        padding: 0px 2px;
    }
    .header-column-middle a{
        font-size: 20px;
    }
    .left-container i{
        font-size: 30px;
    }
    .row-item p{
        font-size: 15px;
    }
    .item2 .bottom-right-text{
        width: 305px;
        height: 260px;
        right: 3%;
    }
    .bottom-right-text h1{
        font-size: 30px;
        
    }
    .bottom-right-text a{
        font-size: 15px;
        font-weight: bolder;
    }
    .second-content-color-middle{
        height:285px;
    }
    .color-middle img{
        width: 290px;
    }
    .picture-on-left h1{
        writing-mode: horizontal-tb;
        left:0%;
        top:-70%;
    }
    .row-3 .picture-on-left h1{
        left:0%;
        top:-70%;
        writing-mode: horizontal-tb;
    }
    .row-3 .picture-on-left img{
        width: 290px;
    }
    .picture-on-right img{
        left:-80%;
    }
    .picture-on-right h1{
        left:0%;
        top:-28%;
        writing-mode: horizontal-tb;
        transform: rotate(0);
    }
    .detail-container{
        z-index: 3;
    }
    .column{
        padding: 5px;
    }
    .col-picture-container{
        width: 85px;
        height: 140px;
    }
    .topright{
        font-size: 13px;
    }
}
@media screen and (max-width: 375px) {
    .picture-on-right img{
        left:-100%;
    }
    .col-picture-container{
        width: 70px;
        height: 125px;
    }
    .slider{
        width:100%;
    }
}
@media screen and (max-width: 320px) {
    .item2 .bottom-right-text{
        height:240px;
        width:240px;
    }
    .bottom-right-text p{
        font-size: 11px;
    }
    .picture-on-right img{
        left:-140%;
    }
    .picture-on-right h1{
        left:-7%;
    }
    .second-content{
        margin-top: 0px;
    }
    .second-content h1{
        font-size: 15px;
    }
    .second-content-color-middle{
        height: 220px;
        margin-top: 35px;
    }
    .col-picture-container{
        width: 55px;
        height: 100px;
    }
    .detail-on-left .detail-container{
        width:300px;
    }
    .picture-on-right h1{
        left:-35%;
    }
    .detail-container{
        width:300px;
    }
    h1{
        font-size: 15px;
    }
    h3{
        font-size: 13px;
    }
    p{
        font-size: 10px;
    }
}