*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    outline: none;
}
body{
    background-color: #FFFFFF;
    font-family: Anaheim;
}
header{
    overflow: hidden;
    padding: 15px;
}
header a{
    color: black;
    text-decoration: none;
    /*font-family: ;*/
}
.header-row{
    position: relative;
    display:grid;
    grid-template-columns: 25% 50% 25%;
}
.header-column-left{
   text-align: left;
}
.header-column-middle{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.header-column-right{
   text-align: right;
}
.header-column-right a{
    padding: 10px 10px;
}
.introduction-content{
    padding-top: 10px;
    padding-bottom: 20px;
}
.grid-container {
    background-color: none;
  	display: grid;
  	grid-template-columns: 5% 90% 5%;
  	background-color: none;
}

.grid-container > div {
  	background-color: none;
}
.item1{
    height: 650px;
	position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container{
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-item{
    width: 40px;
    height: 150px;
    margin-top: auto;
    margin-bottom: auto;
}
.left-container i{
    padding-bottom: 5px;
    color: black;
    font-size: 40px;
}
.right-container{
	padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item2{
    padding: none;
    width: 100%;
    height: 650px;
    align-items: center;
    justify-content: center;
}
.picture-container{
    width: 1330px;
    height: 650px;
    position: relative;
}
.black-opacity-background{
    width: 90%;
    height: 650px;
    background-color: black;
    z-index: 4;
    position: absolute;
    opacity: 0.4;
}
.item2 img{
    position: relative;
    z-index: 2;
    opacity: 1;
    width: 100%;
    height: 650px;
}
.bottom-right-text{
    width: 600px;
    height: 300px;
    opacity: 1;
    bottom: 50px;
    right: 110px;
    z-index: 4;
    color: #FFFFFF;
    position: absolute;
}
.bottom-right-text h1{
    text-align: right;
    font-size: 80px;
}
.bottom-right-text p{
    text-align: justify;
    text-align: right;
    font-size: 15px;
}
.bottom-right-text a{
    z-index: 4;
    color: #FFFFFF;
    text-decoration: none;
    position: absolute;
    text-align: right;
    font-size: 20px;
    bottom: 90px;
    right: 0px;
    background-color: none;
    cursor: pointer;
}
.bottom-right-text a:hover{
    font-weight: bolder;
}

.item3{
    height: 650px;
	position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}
.item3 p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
.first-content{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
.color-middle{
    margin-top: 100px;
    height: 1300px;
    padding: 5%;
    background-color: #F1E7E5;
}
.row-1{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 250px;
    width: 100%;
    position: relative;
    display: flex;
}
.picture-on-left{
    display: flex;
    width: 470px;
    width: 40%;
    position: relative;
}
.picture-on-left h1{
    font-size: 120px;
    padding-top: 10px;
    position: absolute;
    top: -200px;
    left: -35px;
    color:#FFFFFF;
    writing-mode: vertical-rl;
    z-index: 4;
}
.picture-on-left img{
    top:-250px;
    left:0px;
    position: absolute;
    width: 100%;
    height: 520px;
    z-index: 3;
    box-shadow: 5px 5px 5px grey;
}
.detail-on-right{
    width:70%
}
.detail-on-right .line{
    margin-top: 60px;
    z-index: 2;
    height: 0.5px;
    width: 350px;
    display: flex;
    left: 550px;
    position: absolute;
    align-items: center;
    background-color: black;
}
.detail-container{
    font-size: 15px;
    right: 100px;
    position: absolute;
    text-align: justify;
    justify-content: center;
    width: 100%;
    width: 300px;
    height: 100%;
}
.detail-container h3{
    z-index: 2;
    position: relative;
}
.detail-container p{
    z-index: 3;
    position: relative;;
}
.row-2{
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    width: 100%;
    position: relative;
}

.detail-on-left{
    padding-top: 50px;
    width:70%
}
.detail-on-left .detail-container{
    font-size: 15px;
    left: 100px;
    position: absolute;
    justify-content:space-between;
    width: 100%;
    width: 300px;
    height: 180px
}

.detail-on-left .line{
    margin-top: 60px;
    z-index: 2;
    height: 0.5px;
    width: 350px;
    display: flex;
    right: 550px;
    position: absolute;
    align-items: center;
    background-color: black;
}
.picture-on-right{
    display: flex;
    width: 470px;
    width: 40%;
    position: relative;
}
.picture-on-right h1{
    font-size: 120px;
    padding-top: 10px;
    bottom: 50px;
    right: -35px;
    position: absolute;
    color:#FFFFFF;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 4;
}
.picture-on-right img{
    top:-100px;
    position: absolute;
    right: 0px;
    width: 100%;
    width: 470px;
    height: 520px;
    z-index: 3;
    box-shadow: 5px 5px 5px grey;
}
.row-3{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.row-3 .picture-on-left{
    display: flex;
    width: 470px;
    width: 40%;
    position: relative;
}
.row-3 .picture-on-left h1{
    font-size: 120px;
    padding-top: 10px;
    position: absolute;
    bottom: -200px;
    left:-35px;
    color:#FFFFFF;
    writing-mode: vertical-rl;
    z-index: 4;
}
.row-3 .picture-on-left img{
    bottom: -100px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 520px;
    z-index: 3;
    box-shadow: 5px 5px 5px grey;
}
.row-3 .detail-on-right .line{
    margin-top: 60px;
    z-index: 2;
    height: 0.5px;
    width: 350px;
    display: flex;
    left: 550px;
    position: absolute;
    align-items: center;
    background-color: black;
}
.second-content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.second-content h1{
    font-size: 50px;
    text-align: center;
}
.second-content-color-middle{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: 600px;
    background-color: #F1E7E5;
    position: relative;;
}
.second-content-row-1{
    top: -150px;
    left: 180px;
    position: absolute;
    display: flex;
}
.second-content-row-1 p{
    position: absolute;
    right: 0px;
    top: 0px;
}
.second-content-row-2{
    bottom: -20%;
    left: 20%;
    position: absolute;
    display: flex;
}
.second-container-picture-container-1{
    margin: 20px;
    width: 350px;
    height: 400px;
    background-color: grey;
}
.footer{
    background-color: #F1E7E5;
    color:black;
    height: 200px;
}
  