*{
  margin: 0;
}
body{
    background-color: #F4F4F4;
    font-family: Anaheim;
}
header{
    overflow: hidden;
    padding: 15px;
    background-color: #F4F4F4;
}
header a{
    color: black;
    text-decoration: none;
    /*font-family: ;*/
}
.header-right{
    float: right;
}
.header-right a{
  padding: 10px 10px;
}
nav{
  padding: 20px;
  background-color : #5C5C5C;
  padding-left: 20px;
}
nav a{
  color: #F4F4F4;
  text-decoration: none;
  padding: 20px;
}
nav a:hover{
  font-weight: bold;
  background-color: #444444;
  height: auto;
}
.top-content-container{
  position: relative;
  padding-bottom: 20px;
  max-width: 100%;
  z-index: 1;
}
.content img{
  width: 95%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-content-container-button{
  top: 70%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  text-decoration:none;
  color: #F4F4F4;
  background-color: #444444;
  padding:15px 20px;
  border-radius: 5px;
  border: none;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: small;
  padding: 15px 30px;
}
.top-content-container  button:hover {
  background-color: black;
}
.file-content{
  padding: 20px;
  color:#063F5C;
}
h2{
  text-align: center;
  
}
p{
  text-align: center;
}
.file-content .tablink{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size:medium;
  text-align: left;
  display: inline;
  padding: 25px 0px 30px 25px;
  width: 20%;
  border-radius: 20px 20px 0 0;
  border: none;
  background-color: #A3BFC8;
  position: relative;
  color: #F4F4F4;
}
.file-content .tablink:hover{
  cursor: pointer;
}
.tablink.active{
  background-color: #3B95B4;
}
.file-content .tablink:focus{
  background-color: #3B95B4;
}
.tabcontent{
  color: #063F5C;
  display: none;
  top: -50px;
  position: relative;
  z-index: 10;
  padding: 20px;
  background-color: #3B95B4;
  border-radius: 20px 20px 20px 20px;
}
.tabcontent:active{
  background-color: #3B95B4;
}
.tabcontent.active{
  display: block;
}
.tablink-container{
  display: flex;
}
.row{
  width: 100%;
  content: left;
  display: flex;
}
.column{
  position: relative;
  width:50%;
  padding: 5px;
}
.item2 button{
  width:100%;
  background-color: #B3DFF5;
  border: none;
  padding: 10px;
  color: #063F5C;

}
.tabcontent p{
  padding: 5px;
  text-align: left;
}
.column p{
  color: black;
  text-align: left;
}
.column i{
  align-items: center;
  margin-top: 0%;
}
.grid-container {
  background-color: #B3DFF5;
  display: grid;
  padding: 10px;
}
.grid-item h4{
  font-weight: bold;
}
.item1 {
  text-align: left;
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: justify;
  padding: 5px;
  width: 500px;
}

.item2 {
  grid-column: 3;
  grid-row: 1;
  width: 50px;
  margin: auto;
  vertical-align: bottom;
}
.item3 {
  text-align: left;
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  text-align: justify;
  padding-top: 5px;
}
#dropdown {
  width: 100%;
  text-align: center;
}

.advertise{
  padding-top: none;
  padding: 25px;
}
.advertise .column{
  padding: 20px;
}
.advertise-container{
  background-color: #ACACAC;
  border-radius: 20px;
}
.advertise h3{
  text-align: center;
  font-size: x-large;
}
.advertise p{
  padding: 20px;
  text-align: center;
  text-align: justify;
}
.advertise button{
  top: 70%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  text-decoration:none;
  color: #F4F4F4;
  background-color: #444444;
  border-radius: 5px;
  border: none;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: small;
  padding: 15px 50px;
}
.advertise-container img{
  width: 500px;
  height: 250px;
}
@media screen and (max-width: 900px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header .logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
  }
  .header-right {
    float: none;
  }
  .nav{
    text-align: center;
    float: none;
  }
  .nav a{
    max-width: 100%;
  }
  .content img{
    transition-delay: 0ms;
    max-width: 100%;
    height: 70%;
  }
}
@media screen and (max-width: 320px) {

}

