*{
    margin: 0;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #F4F4F4;
  }
  ::-webkit-scrollbar-thumb {
    background: #5C5C5C;
    border-radius: 10px;
  }
  body{
    background-color: #F4F4F4;
    font-family: Anaheim;
    text-align: justify;
  }
  header{
    width: 100%;
    overflow: hidden;
    padding: 15px;
    background-color: #F4F4F4;
  }
  header a{
    color: black;
    text-decoration: none;
  }
  .header-right{
    float: right;
  }
  .header-right a{
    padding: 10px;
  }
  nav{
    width: 100%;
    padding: 20px;
    background-color : #5C5C5C;
    padding-left: 20px;
  }
  nav a{
    color: #F4F4F4;
    text-decoration: none;
    padding: 20px;
  }
  nav a:hover{
    font-weight: bold;
    height: 100%;
  }
  .content{
    width: 100%;
  }
  /*top-content*/
  .top-content-container{
    position: relative;
    padding-bottom: 20px;
    z-index: 1;
  }
  .content img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .top-content-container-button{
    top: 70%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    text-decoration:none;
    color: #F4F4F4;
    background-color: #444444;
    border-radius: 5px;
    border: none;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: small;
    padding: 15px 30px;
  }
  .top-content-container  button:hover {
    background-color: black;
  }
  /*folder_part*/
  .file-content{
    width: 98%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    color:#063F5C;
  }
  
  .item1 {
    text-align: left;
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: justify;
    padding: 5px;
    width: 100%;
  }
  
  .item2 {
    grid-column: 4;
    grid-row: 1;
    width: 50px;
    margin-left: auto;
    vertical-align: bottom;

  }
  .item3 {
    width: 100%;
    text-align: left;
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;
    text-align: justify;
    padding-top: 5px;
    transition-timing-function: ease-in-out;
  }
  #dropdown{
    display: none;
  }
  #dropdown2{
    display: none;
  }
  #dropdown3{
    display: none;
  }
  #dropdown4{
    display: none;
  }
  #dropdown5{
    display: none;
  }
  #dropdown6{
    display: none;
  }
  h2{
    text-align: center;
    
  }
  p{
    text-align: center;
  }
  .container{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
  }
  .file-content .tablink{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size:medium;
    text-align: left;
    display: inline;
    padding: 25px 0px 30px 25px;
    width: 20%;
    border-radius: 20px 20px 0 0;
    border: none;
    background-color: #A3BFC8;
    position: relative;
    color: #F4F4F4;
  }
  .file-content .tablink:hover{
    cursor: pointer;
  }
  .tablink.active{
    background-color: #3B95B4;
  }
  .file-content .tablink:focus{
    background-color: #3B95B4;
  }
  .tabcontent{
    color: #063F5C;
    display: none;
    top: -50px;
    position: relative;
    z-index: 10;
    padding: 20px;
    background-color: #3B95B4;
    border-radius: 20px 20px 20px 20px;
  }
  .tabcontent:active{
    background-color: #3B95B4;
  }
  .tabcontent.active{
    display: block;
  }
  .tablink-container{
    display: flex;
  }
  .row{
    width: 100%;
    content: left;
    display: flex;
  }
  .column{
    position: relative;
    width:50%;
    padding: 5px;
  }
  .item2 button{
    background-color:#B3DFF5;
    width:100%;
    border: none;
    padding: 10px;
    color: #063F5C;
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  .tabcontent p{
    padding: 5px;
    text-align: left;
  }
  .column p{
    color: black;
    text-align: left;
  }
  .column i{
    align-items: center;
    margin-top: 0%;
  }
  .grid-container {
    border-radius: 5px;
    background-color: #B3DFF5;
    display: grid;
    padding: 10px;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .grid-item h4{
    font-weight: bold;
  }
  #dropdown {
    width: 100%;
    text-align: center;
  }
  /*advertise_part*/
  .advertise{
    padding-top: none;
    padding: 0 25px;
    padding-bottom: 40px;
  }
  .advertise-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ACACAC;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
  }
  .text-field{
    padding-top: 55px;
    padding-left: 60px;
    top: 65%;
    left: 40%;
  }
  .advertise h3{
    text-align: left;
    font-size:x-large;
  }
  .advertise p{
    text-align: left;
    text-align: justify;
    padding-bottom: 15px;
  }
  .advertise-container button{
    margin-left: 22%;
    display: flex;
    text-decoration:none;
    color: #F4F4F4;
    background-color: #444444;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: small;
    padding: 5px 50px;
  }
  .advertise-container button p{
    text-align: center;
    justify-content: center;
    padding: auto;
  }
  .advertise-container button:hover{
    background-color: black;
  }
  .advertise-container img{
    padding-left: 0;
    width: 450px;
    height: 210px;
    background-color: grey;
    object-fit: cover;
    object-position: center;
  }
  .row-ad{
    display: flex;
    width: 100%;
  }
  .column-ad{
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
  }
  /*sub-content with picture*/
  .sub-content-with-picture{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 5px;
    margin-bottom: 50px;
  }
  .sub-content-with-picture h3{
    text-align: center;
    font-size: x-large;
  }
  .sub-content-with-picture p{
    text-align: center;
    font-size:small;
    padding-bottom: 15px;
  }
  .sub-content-with-picture img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .sub-content-with-picture img:hover{
    transition: 0.2s;
    transform: scale(1.1);
  }
  .pic-row{
    display: flex;
    width: 100%;
  }
  .pic-column{
    background-color: #6C878C;
    width: 20%;
    height: 200px;
    margin: 10px;
    overflow-y: hidden;
  }
  /*footer part*/
  .footer{
    background-color: #909CA5;
    color: #444444;
    padding: 15px;
    position: relative;
    height: 150px;
    text-align: center;
  }
  /*tablet*/
  @media screen and (max-width: 768px) {
    .file-content{
      width: 95%;
    }
    .advertise-container{
      width: auto;
  }
  .column-ad .text-field{
    display: contents;
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .advertise{
    padding-bottom: 10px;
  }
  .advertise h3{
    font-size: 18px;
  }
  .advertise p{
    font-size: 15px;
  }
  .advertise .text-field{
    position: relative;
    top: 20px;
    padding-top: 10px;
  }
  .advertise-container button{
    position: relative;
    top: 50px;
    overflow-y: hidden;
    margin-left: 20%;
    padding: 10px 20px;
    font-size: 13px;
  }
 
  .sub-content-with-picture h3{
    font-size: 15px;
  }
  .sub-content-with-picture p{
    font-size: 13px;
  }
  .sub-content-with-picture-container{
    position: relative;
    width:100%;
    height: 200px;
    overflow-x: auto;
  }
  .sub-content-with-picture-container::-webkit-scrollbar{
    width: 0px;
    display: none;
  }
  .pic-row{
    position: absolute;
    width: 155%;
  }
  .pic-column{
    background-color: #6C878C;
    width: 150px;
    height: 180px;
    margin: 10px;
    overflow-y: hidden;
    display: inline-block;
  }
  .pic-column img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
  }
}
  /*phone*/
  @media screen and (max-width: 500px) {
    header{
      font-size: 15px;
      padding: 5px;
    }
    .header-right{
      overflow-y: hidden;
    }
    body{
      font-size: 12px;
    }
    nav{
      padding: 5px;
      font-size: 12px;
    }
    .navbar{
      overflow-y: hidden;
    }
    .subnav-button{
      display: initial;
      justify-content: center;
      height: 0px;
      padding: 10px;
      text-align: center;
    }
    .top-content-container-button{
      top: 60%;
      padding: 10px 15px;
      font-size: 10px;
    }
    .file-content h2{
      font-size: 13px;
    }
    .file-content{
      width: auto;
      margin-bottom: 0%;
      padding: 10px;
    }
    .file-content .tablink{
      font-size: 12px;
      padding: 10px 0px 15px 10px;
      border-radius: 10px;
    }
    .tabcontent{
      padding-bottom: 10px;
      padding: 5px;
      text-align: center;
      top: -45px;
      border-radius: 10px;
    }
    .container{
      padding: 5px 5px 5px 5px;
      font-size: 10px;
    }
    .row{
      font-size: 10px;
      width: 100%;
      display: block;
    }
    .column{
      margin-left: auto;
      margin-right:auto;
      height: 100%;
      position: relative;
      width:95%;
      padding: 2px;
    }
    .grid-container{
      padding: 5px 0px;
    }
    .item1{
      position: relative;
      text-align: left;
      padding: 10px;
      height: 20px;
      padding-bottom: none;
      overflow-y: hidden;
    }
    .item2{
      padding: 5px;
      width: 30px;
      margin-left: auto;
      vertical-align: bottom;
      padding-bottom: none;
    }
    .item3 {
      width: 100%;
      height: 50px;
      text-align: left;
      grid-column: 1 / span 4;
      grid-row: 2 / span 4;
      text-align: justify;
      padding-top: none;
      transition-timing-function: ease-in-out;
      overflow-y: hidden;
    }
    .item3 p{
      padding: 0px 10px;
    }
    .advertise-container{
      width: auto;
      height: 100px;
      overflow-y: hidden;
      border-radius: 8px;
      padding: 5px;
    }
    .row-ad{
      width: 100%;
      height: 100%;
    }
    .column-ad{
      padding:5px ;
      display: block;
      float: left;
      width: 50%;
      overflow-y: hidden;
    }
    .text-field{
      display: contents;
      width: 100%;
      height: 100%;
    }
    .advertise{
      padding-bottom: 10px;
    }
    .advertise h3{
      font-size: 12px;
    }
    .advertise p{
      font-size: 10px;
    }
    .advertise-container button{
      position: relative;
      top: 0px;
      overflow-y: hidden;
      height: 20px;
      margin-left: 20%;
      padding: 0px 10px;
    }
    button p{
      padding: 5px;
      font-size: 8px;
    }
    .advertise-container button:hover{
      background-color: black;
    }
    .advertise-container img{
      width: 100%;
      height: 100%;
      background-color: grey;
    }
    .sub-content-with-picture{
      font-size: 10px;
    }
    .sub-content-with-picture h3{
      font-size: 12px;
    }
    .sub-content-with-picture p{
      font-size: 10px;
    }
    .sub-content-with-picture-container{
      position: relative;
      width:100%;
      height: 130px;
      overflow-x: auto;
    }
    .sub-content-with-picture-container::-webkit-scrollbar{
      width: 0px;
      display: none;
    }
    .pic-row{
      position: absolute;
      width: 155%;
    }
    .pic-column{
      background-color: #6C878C;
      width: 100px;
      height: 100px;
      margin: 10px;
      overflow-y: hidden;
      display: inline-block;
    }
    .pic-column img{
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: center;
    }
  }