body {
    background-color: #F4F4F4;
}

* {
    margin: 0;
}

.Menubar {
    margin: 0;
    position: absolute;
    display: flex;
    padding: 10px;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    width: 1525px;  
}

.Menubar .tool {
    display: flex;
    display: -webkit-flex;

}

.tool {
    font-size: 20px;
    width: 300px;
    justify-content: space-around;
}

.home {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;

}

.tool1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Picpro {
    position: relative;
    width: 1585px;
    height: 750px;
    filter: brightness(50%);
    object-fit: cover;
}

.profile {
    position: relative;
    margin: 0;
    padding: 0;
}

.textpro1 {
    position: absolute;
    top: 150px;
    font-size: 60px;
    width: 700px;
    padding-left: 90px;
}

.textpro2 {
    position: absolute;
    top: 350px;
    padding-left: 90px;
    font-size: 20px;
    width: 500px;
}

.buttonpro {
    background-color: #F4F4F4;
    position: absolute;
    top: 500px;
    left: 90px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    padding: 8px;
    box-shadow: 5px 5px 5px;
    border: 0;
}


.page1 {
    width: auto;
    margin: 0;
    position: relative;
    padding: 70px;
    margin-bottom: 550px;
}

.woman1 {
    width: 400px;
    height: 450px;
    object-fit: cover;
    text-align: center;
}

.textbox1 {
    position: absolute;
    top: 60px;
    left: 250px;
    width: 400px;
}

.textbox2 {
    position: absolute;
    top: 60px;
    left: 1000px;
    width: 400px;
}

.textbox3 {
    position: absolute;
    left: 200px;
    top: 400px;
    width: 400px;
}

.textbox4 {
    position: absolute;
    left: 1050px;
    top: 400px;
    width: 400px;
}

.womanfix {
    position: absolute;
    left: 550px;
    width: 500px;
    text-align: center;
}

.headp1 {
    font-weight: bold;
    font-size: 35px;
}

.textp1 {
    padding-left: 28px;
    font-size: 20px;
}



.page2 {
    width: 1445px;
    margin: 0;
    position: relative;
    padding: 70px;
    height: 630px;
    background-color: #CDE0EB;
}

.headpage2 {
    position: absolute;
    left: 650px;
    top: 80px;
    text-align: center;
    font-size: 50px;
}

.textbox1p2 {
    position: absolute;
    top: 220px;
    left: 170px;
    width: 400px;

}

.textbox2p2 {
    position: absolute;
    top: 220px;
    left: 640px;
    width: 400px;
}

.textbox3p2 {
    position: absolute;
    left: 1110px;
    top: 220px;
    width: 400px;
}

.textbox4p2 {
    position: absolute;
    left: 170px;
    top: 500px;
    width: 400px;
}

.textbox5p2 {
    position: absolute;
    left: 640px;
    top: 500px;
    width: 400px;
}

.textbox6p2 {
    position: absolute;
    left: 1110px;
    top: 500px;
    width: 400px;
}


.page3 {
    width: 1445px;
    margin: 0;
    position: relative;
    padding: 70px;
    height: 500px;
    ;
}

.headpage3 {
    position: absolute;
    left: 600px;
    top: 70px;
    text-align: center;
    font-size: 50px;

}

/* .doctor{
    
} */
.doctor1 {
    position: absolute;
    top: 200px;
    left: 190px;
    width: 300px;
    text-align: center;
}

.doctor2 {
    position: absolute;
    top: 200px;
    left: 640px;
    width: 300px;
    text-align: center;
}

.doctor3 {
    position: absolute;
    top: 200px;
    left: 1090px;
    width: 300px;
    text-align: center;
}

.imgdr {
    width: 250px;
    height: 260px;
    object-fit: cover;
}

/* .textdoc{

} */
.nametext {
    font-size: 30px;
}

.textmajor {
    font-size: 20px;
}

.pagesup {
    width: 1525px;
    position: relative;
    padding: 30px;
    background-color: #A7D5E1;
    height: 50px;
    margin: 0;
}

.textsup {
    width: 1300px;
    font-size: 20px;
    padding-top: 5px;
}

.buttonsup {
    position: absolute;
    left: 1400px;
    top: 35px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    box-shadow: 3px 3px;
}

.gridvideopage {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #CDE0EB;
    width: 1585px;
}

/* .videogriditem1{

} */
.griditem1 {
    padding: 35px;
}

video {
    width: 395px;
    height: 395px;
    object-fit: cover;
}

.textpage4 {
    font-size: 20px;
}

.footerpage {
    background-color: #909CA5;
    width: 1585px;
    height: 200px;
}


@media only screen and (max-width: 480px) {

    .Menubar {
        margin: 0;
        position: absolute;
        height: 50px;
        display: flex;
        padding-left: 30px;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
    }

    .Menubar .tool {
        display: flex;
        display: -webkit-flex;
    }

    .tool {
        font-size: 16px;
        width: 250px;
        justify-content: space-around;
    }

    .home {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 30px;

    }

    .tool1 {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .Picpro {
        position: relative;
        width: 1040px;
        height: 450px;
        filter: brightness(50%);
        object-fit: cover;
    }

    .profile {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .textpro1 {
        position: absolute;
        top: 110px;
        font-size: 30px;
        width: 300px;
        padding-left: 50px;
    }

    .textpro2 {
        position: absolute;
        top: 200px;
        padding-left: 50px;
        font-size: 16px;
        width: 300px;
    }

    .buttonpro {
        background-color: #F4F4F4;
        position: absolute;
        top: 300px;
        left: 50px;
        font-size: 18px;
        width: 100px;
        text-align: center;
        padding: 5px;
        box-shadow: 5px 5px 5px;
        border: 0;
    }


    .page1 {
        height: 300px;
        width: auto;
        margin: 0;
        position: relative;
        padding: 70px;
        margin-bottom: 20px;
    }

    .woman1 {
        width: 220px;
        height: 245px;
        object-fit: cover;
        text-align: center;
    }

    .textbox1 {
        position: absolute;
        top: 50px;
        left: 200px;
        width: 250px;
    }

    .textbox2 {
        position: absolute;
        top: 50px;
        left: 640px;
        width: 250px;
    }

    .textbox3 {
        position: absolute;
        left: 160px;
        top: 250px;
        width: 250px;
    }

    .textbox4 {
        position: absolute;
        left: 690px;
        top: 250px;
        width: 250px;
    }

    .womanfix {
        position: absolute;
        left: 390px;
        top: 80px;
        width: 300px;
        text-align: center;
    }

    .headp1 {
        font-weight: bold;
        font-size: 22px;
    }

    .textp1 {
        padding-left: 15px;
        font-size: 16px;
    }



    .page2 {
        width: 1020px;
        margin: 0;
        position: relative;
        padding: 10px;
        height: 480px;
        background-color: #CDE0EB;
    }

    .headpage2 {
        position: absolute;
        left: 450px;
        top: 40px;
        font-weight: bolder;
        font-size: 30px;
    }

    .textbox1p2 {
        position: absolute;
        top: 120px;
        left: 110px;
        width: 250px;
    }

    .textbox2p2 {
        position: absolute;
        top: 120px;
        left: 420px;
        width: 250px;
    }

    .textbox3p2 {
        position: absolute;
        left: 730px;
        top: 120px;
        width: 250px;
    }

    .textbox4p2 {
        position: absolute;
        left: 100px;
        top: 300px;
        width: 250px;
    }

    .textbox5p2 {
        position: absolute;
        left: 420px;
        top: 300px;
        width: 250px;
    }

    .textbox6p2 {
        position: absolute;
        left: 730px;
        top: 300px;
        width: 250px;
    }


    .page3 {
        width: 1020px;
        margin: 0;
        position: relative;
        padding: 10px;
        height: 450px;
    }

    .headpage3 {
        position: absolute;
        left: 410px;
        top: 40px;
        text-align: center;
        font-weight: bolder;
        font-size: 30px;

    }

    /* .doctor{
        
    } */
    .doctor1 {
        position: absolute;
        top: 120px;
        left: 130px;
        width: 200px;
        text-align: center;
    }

    .doctor2 {
        position: absolute;
        top: 120px;
        left: 430px;
        width: 200px;
        text-align: center;
    }

    .doctor3 {
        position: absolute;
        top: 120px;
        left: 740px;
        width: 200px;
        text-align: center;
    }

    .imgdr {
        width: 200px;
        height: 210px;
        object-fit: cover;
    }

    /* .textdoc{
    
    } */
    .nametext {
        font-size: 22px;
    }

    .textmajor {
        font-size: 16px;
    }

    .pagesup {
        width: 990px;
        position: relative;
        padding: 30px;
        background-color: #A7D5E1;
        height: 50px;
        margin: 0;
    }

    .textsup {
        width: 800px;
        font-size: 16px;
        padding-top: 5px;
    }

    .buttonsup {
        position: absolute;
        left: 860px;
        top: 30px;
        width: 150px;
        height: 50px;
        font-size: 20px;
        box-shadow: 3px 3px;
    }

    .gridvideopage {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #CDE0EB;
        width: 1050px;
        
    }

    /* .videogriditem1{
    
    } */
    .griditem1 {
        padding: 20px;
    }

    video {
        width: 260px;
        height: 260px;
        object-fit: cover;
    }

    .textpage4 {
        font-size: 16px;
    }

    .footerpage {
        background-color: #909CA5;
        width: 1050px;
        height: 200px;
    }

}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1024px) {}