*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    outline: none;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFFFFF;
    font-family: Anaheim;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/*HEADER*/
header{
    overflow: hidden;
    padding: 15px;
}
header a{
    color: black;
    text-decoration: none;
    /*font-family: ;*/
}
.header-row{
    position: relative;
    display:grid;
    grid-template-columns: 25% 50% 25%;
}
.header-column-left{
   text-align: left;
}
.header-column-middle{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.header-column-right{
   text-align: right;
}
.header-column-right a{
    padding: 10px 10px;
}
/*PART 1*/
.top-introduction{
    width:100%;
    height: 93.5vh;
    background-image: url("../Grooming1/groomingpic/background-grooming.png");
}
.top-introduction-container{
    width:45%;
    height: 300px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 40%;
    margin-left: 50px;
}
.text-space-small{
    line-height: 0.8;
}
.top-introduction-container h1{
    letter-spacing: -3px;
    font-weight: bolder;
    font-size: 120px;
}
.top-introduction-container h3{
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
.top-introduction-container p{
    font-weight: bold;
    font-size: 18px;
    margin: 15px 10px;
}
.top-introduction-container a{
    width: 30%;
    margin: 10px;
    background-color: black;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    position: absolute;
    bottom: -10px;
    text-align: center;
}
.top-introduction-container a:hover{
    color: black;
    font-weight: bold;
    background: none;
    border: 1px solid black;
}
/*PART 2*/
.introduction-part{
    width: 100%;
    height: 50vh;
}
.content-container{
    width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}
.content-container h2{
    line-height: 1.3;
    font-size: 50px;
}
.content-container p{
    font-size: 15px;
}
.content-container img{
    margin: 20px;
    width: 100px;
    height: 100px;
}
/*PART 3*/
#navigate-introduction-part{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}
.item-1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.item-2{
    grid-row: 1;
    grid-column: 3;
}
.item-3{
    grid-row: 1;
    grid-column: 4;
}
.item-4{
    grid-row: 2;
    grid-column: 3;
}
.item-5{
    grid-row: 2;
    grid-column: 4;
}
.item-6{
    grid-row: 3;
    grid-column: 1;
}
.item-7{
    grid-row: 3;
    grid-column: 2;

}
.item-8{
    grid-row: 3;
    grid-column: 3;
}
.item-9{
    grid-row: 3;
    grid-column: 4;
}
#navigate-introduction-part img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#navigate-introduction-part > [class*=item-]{
    position: relative;
}
.item-container{
    padding: 30px;
    width: 100%;
    height: 100%;
    position: relative;
}
.item-container h4{
    font-size: 30px;
}
.item-container p{
    font-size: 15px;
}
.item-button{
    width: 45%;
    background-color: black;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    position: absolute;
    bottom: 20px;
    text-align: center;
}
.item-button:hover{
    color: black;
    font-weight: bold;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}
/*PART 4*/
.calendar-part{
    width: 100%;
    height: 60vh;
}


/*PART 5*/
.other-services-part{
    width: 100%;
    height: 40vh;
    background-color:black;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.service-item1{
    background-color: black;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.service-item2{
    background-color: black;
    grid-row: 1;
    grid-column: span 2;
}
.service-item3{
    background-color: black;
}
.card-service-item{
    position: relative;
    width: 100%;
    height: 100%;
}
.card-service-item:hover .overlay{
    opacity: 0.5;
    background-color: black;
    border: #FFFFFF;
    z-index: 2;
    transition: .5s ease;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
.overlay {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.overlay h4{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.card-service-item img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}
.footer{
    background-color: #F1E7E5;
    padding: 30px;
    color:black;
    width: 100%;
    height: 30vh;
   border-top-style: 2px solid black;
   border-right-style: none;
   border-bottom-style: none;
   border-left-style: none;
   margin-top: 20px;
}
.row::after{
    display: table;
}
.column{
    float:left;
    width: 33.33%;
}
/*calendar part*/
.calendar-part{
    display: grid;

}
.calendar{
    color: #575757;
    position: relative;
    height: max-content;
    width: max-content;
    padding: 20px;
    overflow: hidden;
    font-weight: 1000;
    font-size: 25px;
}

.calendar-head{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: 1000;
    padding: 10px;
}

.calendar-body{
    padding: 10px;
}

.calendar-week-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-week-day div {
    display: grid;
    place-items: center;
}

.calendar-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendar-day div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.calendar-day div:hover{
    background-color: #466B59;
}

.month-pick{
    padding-top: 5px;
    padding-right: 30px;
    cursor: pointer;
}

.month-pick:hover{
    background-color: #466B59;
}

.year-pick{
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover{
    background-color: #466B59;
}

.calendar-day div.curr-date{
    background-color: rgb(151, 224, 34);
    color:black;
}

.calendar-day div.curr-date span{
    display: none;
}

.month-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show{
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
}

.month-list > div{
    display: grid;
    place-items: center;
}
.month-list > div > div{
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
}

.calendar-head .headmonth{
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 1px;
}
.calendar-head .monthpick{
    position: absolute;
    top: 17px;
    left: 120px;
    rotate: 90deg;
    cursor: pointer;
}
.calendar-head .headyear{
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 180px;
}
#pre-year{
    rotate: 270deg;
}
#next-year{
    rotate: 270deg;
}


.month-list > div > div:hover{
    background-color: #466B59;
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 500px) {
    
}